body {
    background: #073110;
    color: #EC994B;
    padding-top: 70px;
}

nav.navbar.navbar-expand-lg.green.position-fixed.w-100{
    background-color: #EC994B;
    z-index: 9;
    top: 0;
}

.grid figure {
    position: relative;
    z-index: 1;
    display: inline-block;
    overflow: hidden;
    height: 550px;
    background: #EC994B;
    text-align: center;
    cursor: pointer;
}

.grid figure img {
    position: relative;
    display: block;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.8;
    transition: opacity 0.5s;
}

.grid figure figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #EC994B;
    backface-visibility: hidden;
    transition: transform 0.35s;
    color: #073110;
}

.grid figure p {
    font-size: 16px;
}

figure.effect-slideleft figcaption {
    width: 50%;
    transform: translate3d(-200%,0,0);
}

figure.effect-slideleft:hover figcaption, figure.effect-slideleft:hover h2, figure.effect-slideleft:hover figcaption > span {
    transform: translate3d(0,0,0);
}

.card {
    background-color: #767676;
}
#register{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#f{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}